@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --popover: #ffffff;
    --popover-foreground: #0f172a;

    --border: #e2e8f0;
    --input: #e2e8f0;

    --card: #ffffff;
    --card-foreground: #0f172a;

    --primary: #0f172a;
    --primary-foreground: #f7f9fb;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --destructive: #ff0000;
    --destructive-foreground: #f7f9fb;

    --ring: #94a3b7;

    --radius: 0.5rem;
  }

  .dark {
    --background: #020611;
    --foreground: #e0e7ef;

    --muted: #0e1629;
    --muted-foreground: #7f8da3;

    --accent: #1c283a;
    --accent-foreground: #f7f9fb;

    --popover: #020611;
    --popover-foreground: #94a3b7;

    --border: #1c283a;
    --input: #1c283a;

    --card: #020611;
    --card-foreground: #e0e7ef;

    --primary: #f7f9fb;
    --primary-foreground: #010204;

    --secondary: #0f172a;
    --secondary-foreground: #f7f9fb;

    --destructive: #801d1d;
    --destructive-foreground: #f7f9fb;

    --ring: #1c283a;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
