@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --muted: 240 6% 90%;
    --muted-foreground: 0 0% 0%;

    --accent: 263 100% 59%;
    --accent-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --border: 0 0% 76%;
    --input: 240 6% 90%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 263 100% 59%;
    --secondary-foreground: 0 0% 0%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 0%;

    --ring: 263 100% 59%;

    --subtitle: 0 0% 40%;
    --highlight: 263 100% 59%;
    --placeholder: 240 4% 46%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 14%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 40%;
    --muted-foreground: 0 0% 100%;

    --accent: 263 100% 68%;
    --accent-foreground: 0 0% 0%;

    --popover: 0 0% 14%;
    --popover-foreground: 0 0% 100%;

    --border: 0 0% 76%;
    --input: 240 6% 90%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 263 100% 68%;
    --secondary-foreground: 0 0% 0%;

    --destructive: 4 100% 66%;
    --destructive-foreground: 0 0% 0%;

    --ring: 263 100% 68%;

    --subtitle: 0 0% 76%;
    --highlight: 263 100% 59%;
    --placeholder: 0 0% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
